{% render 'partials/head.liquid', title: user.name, currentPage: 'user' %}

<section class="user-profile">
  <div class="user-info-container">
    <h2>{{ user.name }}</h2>
    <p>{{ user.gender }} - {{ user.birthDecade }} - @{{ user.usecase }}</p>
    <p><strong>{{ user.email }}</strong></p>

    <div class="user-stats-container">
        <div class="user-stats">
            <svg width="28" height="25" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M39.3936 42.4238L23.1816 25.7578L13.7881 35.3027L10.3027 31.8184L0 42.4238V10.6064H39.3936V42.4238ZM50 31.8184H43.9395V6.06055H10.6064V0H50V31.8184Z" fill="#224455"/>
            </svg>
            <p>{{ userSnappsCount }}</p>
            <p>snapps</p>
        </div>
        <div class="user-stats">
            <svg width="32" height="29" viewBox="0 0 56 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M50.632 23.9533C50.632 28.3491 47.0446 31.9268 42.6377 31.9268C38.2316 31.9268 34.657 28.3491 34.657 23.9533C34.657 19.5392 38.2316 15.9614 42.6377 15.9614C47.0351 15.9614 50.632 19.5456 50.632 23.9533ZM18.5155 0C12.0088 0 6.70526 5.29401 6.70526 11.8063C6.70526 18.3178 12.0032 23.6213 18.5155 23.6213C25.0302 23.6213 30.3289 18.3178 30.3289 11.8063C30.3329 5.29401 25.0294 0 18.5155 0ZM55.3955 48.1726C55.3955 40.909 49.6607 35.0138 42.6258 35.0138C41.371 35.0138 40.1726 35.2608 39.0322 35.6102C40.5348 38.6226 41.4544 41.982 41.4544 45.5955V50H55.3962V48.1726H55.3955ZM0 50H37.0279V45.8123C37.0279 35.3085 28.7168 26.7631 18.5155 26.7631C8.2976 26.7631 0.00079418 35.3093 0.00079418 45.8123V50H0Z" fill="#224455"/>
            </svg>
            <p>{{ groupsCount }}</p>
            <p>groups</p>
        </div>
        <div class="user-stats">
            <svg width="29" height="29" viewBox="0 0 53 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.3158 40.1921L42.5789 50L38.2763 31.5026L52.6316 19.0632L33.7079 17.4395L26.3158 0L18.9237 17.4395L0 19.0632L14.3553 31.5026L10.0526 50L26.3158 40.1921Z" fill="#224455"/>
            </svg>
            <p>{{ starCount }}</p>
            <p>stars</p>
        </div>
    </div>
  </div>
</section>

{% render 'partials/footer.liquid', currentPage: 'user' %}
